In [1]:
import numpy as np
import pandas as pd
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score

In [2]:
data = pd.read_csv(r'D:\allstate\train.csv.zip')
data.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [24]:
[(x, data[x].nunique()) for x in data.columns[1:-1] if 'cat' in x]

[('cat1', 2),
 ('cat2', 2),
 ('cat3', 2),
 ('cat4', 2),
 ('cat5', 2),
 ('cat6', 2),
 ('cat7', 2),
 ('cat8', 2),
 ('cat9', 2),
 ('cat10', 2),
 ('cat11', 2),
 ('cat12', 2),
 ('cat13', 2),
 ('cat14', 2),
 ('cat15', 2),
 ('cat16', 2),
 ('cat17', 2),
 ('cat18', 2),
 ('cat19', 2),
 ('cat20', 2),
 ('cat21', 2),
 ('cat22', 2),
 ('cat23', 2),
 ('cat24', 2),
 ('cat25', 2),
 ('cat26', 2),
 ('cat27', 2),
 ('cat28', 2),
 ('cat29', 2),
 ('cat30', 2),
 ('cat31', 2),
 ('cat32', 2),
 ('cat33', 2),
 ('cat34', 2),
 ('cat35', 2),
 ('cat36', 2),
 ('cat37', 2),
 ('cat38', 2),
 ('cat39', 2),
 ('cat40', 2),
 ('cat41', 2),
 ('cat42', 2),
 ('cat43', 2),
 ('cat44', 2),
 ('cat45', 2),
 ('cat46', 2),
 ('cat47', 2),
 ('cat48', 2),
 ('cat49', 2),
 ('cat50', 2),
 ('cat51', 2),
 ('cat52', 2),
 ('cat53', 2),
 ('cat54', 2),
 ('cat55', 2),
 ('cat56', 2),
 ('cat57', 2),
 ('cat58', 2),
 ('cat59', 2),
 ('cat60', 2),
 ('cat61', 2),
 ('cat62', 2),
 ('cat63', 2),
 ('cat64', 2),
 ('cat65', 2),
 ('cat66', 2),
 ('cat67', 2),
 ('cat68', 2),
 ('cat69', 2),
 ('cat70', 2),
 ('cat71', 2),
 ('cat72', 2),
 ('cat73', 3),
 ('cat74', 3),
 ('cat75', 3),
 ('cat76', 3),
 ('cat77', 4),
 ('cat78', 4),
 ('cat79', 4),
 ('cat80', 4),
 ('cat81', 4),
 ('cat82', 4),
 ('cat83', 4),
 ('cat84', 4),
 ('cat85', 4),
 ('cat86', 4),
 ('cat87', 4),
 ('cat88', 4),
 ('cat89', 8),
 ('cat90', 7),
 ('cat91', 8),
 ('cat92', 7),
 ('cat93', 5),
 ('cat94', 7),
 ('cat95', 5),
 ('cat96', 8),
 ('cat97', 7),
 ('cat98', 5),
 ('cat99', 16),
 ('cat100', 15),
 ('cat101', 19),
 ('cat102', 9),
 ('cat103', 13),
 ('cat104', 17),
 ('cat105', 20),
 ('cat106', 17),
 ('cat107', 20),
 ('cat108', 11),
 ('cat109', 84),
 ('cat110', 131),
 ('cat111', 16),
 ('cat112', 51),
 ('cat113', 61),
 ('cat114', 19),
 ('cat115', 23),
 ('cat116', 326)]

In [29]:
features = data.columns
cats = [feat for feat in features if 'cat' in feat]
for feat in cats:
    data[feat] = pd.factorize(data[feat], sort=True)[0]

In [31]:
data.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,0,1,0,1,0,0,0,0,1,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,0,1,0,0,0,0,0,0,1,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,0,1,0,0,1,0,0,0,1,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,1,1,0,1,0,0,0,0,1,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,0,1,0,1,0,0,0,0,1,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [32]:
X_train = data.drop(['id','loss'], axis=1)
y_train = data.loss

In [34]:
X_train.shape

(188318, 130)

In [33]:
regr = XGBRegressor()
regr.fit(X_train, y_train, verbose=1)

XGBRegressor(base_score=0.5, colsample_bylevel=1, colsample_bytree=1, gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='reg:linear', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)

In [40]:
cross_val_score(regr, X_train, y_train, cv=8, scoring='neg_mean_absolute_error')

array([-1262.22174876, -1240.69641661, -1243.14986442, -1253.72380644,
       -1243.55736368, -1251.85178031, -1250.45613363, -1243.39536401])